body{
  background-color: #e1fcf1;
  font-family: "Cormorant Garamond", serif;
  position: relative;
}
h1 {
  color: black;
  margin: 1em;
  position: relative;
  top: 20px;
}
h2 {
  position: relative;
  top: 30px;
  left: 500px;
  font-family:'Amatic SC', cursive;
}
ul{
  position: relative;
  top: 50px;
  left: 500px;
}
li{
  font-family: 'Oswald', sans-serif;
}

