body {
  font-family: "Cormorant Garamond", serif;
  position: relative;
}
body{
  background-color: #e1fcf1;
}
h1 {
  margin: 1em;
  position: relative;
  top: 20px;
}
h2 {
  position: relative;
  top: 30px;
  left: 540px;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
table {
  position: relative;
  left: 500px;
  top: 100px;
}
th {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

